.burger-btn {
  width: 24px;
  height: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 3;
  cursor: pointer;

  @media (min-width: 1200px) {
    display: none;
  }

  &__line {
    display: block;
    width: 100%;
    height: 2px;
    background-color: var(--primary-colors-white);
    border-radius: 10px;
    transition: all 0.2s ease;

    &:not(:last-child) {
      margin-bottom: 3px;
    }
  }

  &_active {
    .burger-btn__line {
      transition: all 0.2s ease;
      width: 16px;

      &:nth-child(1) {
        transform: rotate(45deg) translate(2.5px, 0);
        transform-origin: left;
      }

      &:nth-child(2) {
        opacity: 0;
      }

      &:nth-child(3) {
        opacity: 0;
      }

      &:nth-child(4) {
        transform: rotate(-45deg) translate(2.5px, 0);
        transform-origin: left;
      }
    }
  }
}
