.header-menu {
  display: flex;
  flex-direction: column;
  // gap: 40px;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
  padding: 40px 0;
  list-style: none;




  & a {
    font-family: var(--desktop-mono-paragraph-medium);
    text-decoration: none;
    color: var(--text-icon-secondary);

    &:hover {
      color: var(--primary-colors-purple);
    }
  }

  &__container {
    position: fixed;
    top: 64px;
    right: -100%;
    width: 100%;
    height: calc(100% - 64px);
    // background: var(--background);
    transition: all 0.2s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    padding: 16px;
    z-index: 1;
    overflow-y: auto;
    overscroll-behavior: contain;

    &.active {
      right: 0;
      transition: all 0.2s ease;
      background-color: var(--background);
    }

    a {
      color: var(--text-icon-secondary);

      &:hover {
        color: var(--primary-colors-purple);
      }
    }
  }

  &__wrapper {
    width: 100%;
    max-width: 390px;
  }

  &__item {
    list-style: none;
  }

  &__buttons-container {
    display: flex;
    width: 100%;
    max-width: 390px;
    flex-direction: column;
    gap: 16px;
  }

  &__join-us-container {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
    width: 100%;
    padding-top: 40px;
    color: var(--text-icon-secondary);
    border-top: 1px solid var(--secondary-colors-white-20);
  }

  @media (min-width: 768px) {

    &__container {
      height: calc(100% - 93px);
      top: 93px;
      gap: 60px;
    }

    &__join-us-container {
      padding-block: 60px;
    }
  }

  @media (max-width: 1200px) {
    align-items: center;
  }

  // @media (min-width: 990px) {
  //   align-items: center;

  //   &__container {
  //     height: calc(100% - 93px);
  //     top: 93px;
  //     gap: 60px;
  //   }

  //   &__join-us-container {
  //     padding-top: 60px;
  //   }
  // }

  @media (min-width: 1200px) {
    flex-direction: row;
    // gap: 55px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    // line-height: 150%;
    padding: 0;

    &__container {
      position: initial;
      width: auto;
      height: auto;
      padding: 0;
    }

    &__wrapper {
      width: auto;
      max-width: 100%;
    }

    &__buttons-container {
      display: none;
    }

    &__join-us-container {
      display: none;
    }
  }


}