.possibilities {
  &__container {
    display: flex;
    grid-template-columns: 1fr;
    gap: 24px;
    margin-bottom: 140px;
  }

  &__text {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  &__text p {
    margin-bottom: 40px;
     /* Increase the margin for a larger gap */
  }

  &__code {
    width: 100%;

    overflow: hidden;
  }

  @media (min-width: 768px) {
    &__container {
      margin-bottom: 150px;
    }
  }

  @media (max-width: 992px) {
    &__container {
      display: flex;
      margin-bottom: 150px;
    }

    
  &__text {
    width:50%;
     /* Increase the margin for a larger gap */
  }
  &__text p {
    margin-bottom: 30px;
     /* Increase the margin for a larger gap */
  }

  }

  @media (max-width: 750px) {
    &__container {

      display: flex;
      flex-direction: column;
      margin-bottom: 150px;
    }

      
  &__text {
    width:100%
     /* Increase the margin for a larger gap */
  }
  }

  @media (min-width: 1024px) {
    &__container {
      display: flex;
      gap: 5%;
      margin-bottom: 170px;
    }

    &__code {
      min-width: 62%;
    }
  }
}

.superdb__title {
  margin-bottom: 60px;
}

pre.code-tabs__highlighter .hljs {
  height: 500px;
  display: inherit;
}

.keywords {
  color: var(--primary-colors-white);
  font-weight: bold;
}
