.attention {
  &__container {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-top: 120px;
    margin-bottom: 140px;
  }
  &__paragraph {
    text-align: left;
    align-items: left;
    // padding: 0 40px;
  }
  &__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
  }
  &__title {
    font-size: 9.4dvw;
    text-align: center;
  }
  &__button {
    display: flex;
    justify-content: center;
  }
  &__links{
    color: white;
    text-decoration: underline;
  }

  @media (min-width: 576px) {
    &__container {
      gap: 32px;
      margin-top: 120px;
      margin-bottom: 150px;
    }
    &__title {
      font-size: 29px;
    }
  }

  @media (min-width: 768px) {
    &__container {
      gap: 32px;
      margin-top: 120px;
      margin-bottom: 150px;
    }
    &__title {
      font-size: 4.8dvw;
    }
  }

  @media (min-width: 1024px) {
    &__container {
      gap: 52px;
      margin-top: 120px;
      margin-bottom: 170px;
    }
    &__title {
      font-size: 52px;
    }
  }
}

.bolder-label {
  font-weight: 900;
}
