.text-block {
  &__container {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  @media (min-width: 1024px) {
    gap: 16px;
  }
}

.highlighted {
  text-decoration-color: #7628f8;
  text-decoration-line: underline;
  text-underline-offset: 3px; 
}
.huge{

}
